* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 992px) {
    header .navbar {
        padding: 10px 20px;
    }
    .navbar-collapse {
        text-align: center;
    }
}

/* ============================== navbar ============================== */

.navbar {
    padding: 5px 120px;
    border-bottom: 1px solid #f3f3f3;
}

.navbar-brand {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1.4px;
    color: #303030!important;
}

.navbar-brand:hover {
    color: #447099!important;
}

.bg-color {
    background-color: #fff;
}

.navbar-nav {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 13px;
    color: #303030!important;
}

.nav-link {
    padding-right: 2rem!important;
}

.navbar-nav a:hover {
    color: #447099!important;
}

main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    padding: 0px 150px;
    height: auto;
}


/* ============================== socials and email ============================== */

/* ============================== socials and email ============================== */

.socials {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 999;
    justify-content: center;
}

.socials .social-icons {
    list-style-type: none;
}

.social-icons li {
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    list-style: none;
}

.socials::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin: 0px auto;
    background-color: #90B7DB;
}

.email {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 999;
}

.email .email-address {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email a {
    margin: 20px auto;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-decoration: none;
    color: #447099;
}

.email::after {
    content: "";
    display: block;
    width: 1px;
    height: 80px;
    margin: 0px auto;
    background-color: #90B7DB;
}

.structure {
    position: relative;
}

@media (max-width: 576px) {
    main {
        padding: 0px 0px;
    }
    
    .email {
        display: none;
    }
    
    .socials {
        position: absolute;
        bottom: 50px;
        left: auto;
        right: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .socials .social-icons {
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .social-icons li {
        padding: 0px 15px;
        margin: 2px;
    }
    
    .socials::after {
        display: none;
    }
}

/* ============================== profile ============================== */

#aboutme {
    padding-top: 280px;
    padding-bottom: 250px;
}

.profile {
    font-family: "Open Sans", sans-serif;
    width: 80%;
   
}

.profile h2 {
    font-size: 1rem;
    font-weight: 400;
    color: #737373;
    margin-bottom: 0px;
}

.about p {
    font-size: 1rem;
    color: #737373;
    font-weight: 400;
    text-align: justify;
}

.profile span {
    color: #447099;
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -1.5px;
}

.verse span {
    color: #00BD00;
    font-weight: bold!important;
    font-size: 1rem;
    letter-spacing: 1px;
}

.verse a {
    text-decoration: none;
  }
  

.profile .about {
    margin-top: 8px;
}

.about .verse {
    margin-bottom: 30px;
}

.profile .profilepic img{
    max-width: 80%;
    height: auto;
    overflow: hidden;
}

.profile .profilepic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.profile .btn {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.profile .btn-primary {
    background-color: transparent;
    border-color: #447099;
    color: #447099;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
    height: 55px;
}

.profile .btn-primary:hover {
    background-color: #447099;
    border-color: #22415d;
    color: #fff;
}

.profile .btn {
    padding: 15px;
}

@media (min-width: 1200px){
    .hidden-section2{
        display: none;
    }
}



@media (max-width:1200px){ /* Media query for profile */
    #aboutme {
        padding-top: 200px;
        padding-bottom: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .profile {
        margin: 0px!important;
        width: 100%!important;
    }
    .profile h2 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    
    .profile span{
        font-size: 1.8rem;
        letter-spacing: .1px;
    }
    
    .about p {
        font-size: 14px;
    }
    
    .container-fluid.profile .row {
        /* display: grid; */
        /* grid-template-columns: 1fr;
        grid-template-rows: auto auto; */
        /* grid-row-gap: 10px; */
        justify-items: center; 
        align-items: center; 
        margin: 20px 0px!important;
    }
    
    /* .profile .intro,
    .profile .profilepic {
        grid-column: 1 / span 1;
        text-align: center;
    } */
    
    /* .profile .profilepic {
        grid-row: 1 / span 1;
        max-width: 750%;
        height: auto;
        overflow: hidden;
        margin: 0;    
    } */
    
    .verse span {
        font-size: 14px;
        letter-spacing: 0px;
    }
    
    .profile .about {
        margin-top: 10px;
    }
    
    .profile .intro {
        padding: 0px;
        margin-top: 20px;
    }
    
    .profile .profilepic {
        padding: 0px; 
    }
    
    .profile .profilepic img {
        width: 350px;
        margin: 0;
    }
    .profile .btn-primary {
        font-size: 14px;
        width: 172px;
        height: 43px;
        padding: 8px;
    }
    /* .profile .col-md-7{
        max-width: 100%;
    } */
} 


@media (max-width:992px){ /* Media query for profile */
    #aboutme {
        padding-top: 110px;
        padding-bottom: 0px;
    }
    .profile {
        margin: 0px!important;
        width: 100%!important;
    }
    .profile h2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .profile span{
        font-size: 1.5rem;
        letter-spacing: .1px;
    }
    
    .about p {
        font-size: 12px;
    }
    
    .container-fluid.profile .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
        justify-items: center; 
        align-items: center; 
        margin: 20px 0px!important;
    }
    
    .profile .intro,
    .profile .profilepic {
        grid-column: 1 / span 1;
        text-align: center;
    }
    
    .profile .profilepic {
        grid-row: 1 / span 1; /* Move the second column above */
        max-width: 750%;
        height: auto;
        overflow: hidden;
        margin: 0;    
    }
    
    .verse span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    
    .profile .about {
        margin-top: 10px;
    }
    
    .profile .intro {
        padding: 0px;
        margin-top: 20px;
    }
    
    .profile .profilepic {
        padding: 0px; 
    }
    
    .profile .profilepic img {
        width: 350px;
        margin: 0;
    }
    .profile .btn-primary {
        font-size: 12px;
        width: 160px;
        height: 40px;
        padding: 5px;
    }
    /* .profile .col-md-7{
        max-width: 100%;
    } */
}

@media (max-width:768px){ /* Media query for profile */
    #aboutme {
        padding-top: 110px;
        padding-bottom: 0px;
    }
    .profile {
        margin: 0px!important;
        width: 100%!important;
    }
    .profile h2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .profile span{
        font-size: 1.5rem;
        letter-spacing: .1px;
    }
    
    .about p {
        font-size: 12px;
    }
    
    .container-fluid.profile .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
        justify-items: center; 
        align-items: center; 
        margin: 20px 0px!important;
    }
    
    .profile .intro,
    .profile .profilepic {
        grid-column: 1 / span 1;
        text-align: center;
    }
    
    .profile .profilepic {
        grid-row: 1 / span 1; /* Move the second column above */
        max-width: 750%;
        height: auto;
        overflow: hidden;
        margin: 0;    
    }
    
    .verse span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    
    .profile .about {
        margin-top: 10px;
    }
    
    .profile .intro {
        padding: 0px;
        margin-top: 20px;
    }
    
    .profile .profilepic {
        padding: 0px; 
    }
    
    .profile .profilepic img {
        margin: 0;
    }
    .profile .btn-primary {
        font-size: 12px;
        width: 160px;
        height: 40px;
        padding: 5px;
    }
    .profile .col-md-7{
        max-width: 100%;
    }
}


@media (max-width:576px){ /* Media query for profile */
    #aboutme {
        padding-top: 110px;
        padding-bottom: 0px;
    }
    .profile {
        margin: 0px!important;
        width: 100%!important;
    }
    .profile h2 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .profile span{
        font-size: 1.5rem;
        letter-spacing: .1px;
    }
    
    .about p {
        font-size: 12px;
    }
    
    .container-fluid.profile .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-row-gap: 10px;
        justify-items: center; 
        align-items: center; 
        margin: 20px 70px!important;
    }
    
    .profile .intro,
    .profile .profilepic {
        grid-column: 1 / span 1;
        text-align: center;
    }
    
    .profile .profilepic {
        grid-row: 1 / span 1; /* Move the second column above */
        max-width: 750%;
        height: auto;
        overflow: hidden;
        margin: 0;    
    }
    
    .verse span {
        font-size: 12px;
        letter-spacing: 0px;
    }
    
    .profile .about {
        margin-top: 10px;
    }
    
    .profile .intro {
        padding: 0px;
        margin-top: 20px;
    }
    
    .profile .profilepic {
        padding: 0px; 
    }
    
    .profile .profilepic img {
        margin: 0;
    }
    .profile .btn-primary {
        font-size: 12px;
        width: 160px;
        height: 40px;
        padding: 5px;
    }
}

/* ============================== skills ============================== */

#skills {
    padding-top: 150px;
    padding-bottom: 150px;
}


#skills h2, #skills span {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

#skills h2 {
    color: #303030;
}

#skills span {
    color: #447099;
    font-weight: bold;
}

#skills img {
    width: 170px;
    height: auto;
}

.skillsarray ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #737373;
    font-size: 1rem;
    margin-top: 25px;
}

.skillsarray ul li {
    margin-bottom: 10px;
}

.centercol::before,
.centercol::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-image: linear-gradient(to top, rgba(144, 183, 219, 0) -20%, #90B7DB 50%, rgba(144, 183, 219, 0) 120%);
    z-index: 999;
}

.centercol::before {
    left: 0;
}

.centercol::after {
    right: 0;
}

#skills .skillsarray h2 {
    margin-bottom: 90px;
}


@media (max-width: 1200px) and (min-width: 993px) { /* Media query for skills */
    .structure {
        padding: 0px 100px;
    }
    #skills {
        padding-top: 170px;
    }
    #skills img {
        width: 130px;
        height: auto;
    }
    #skills .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .skillsarray .hidden-section2 {
        display: none;
    }
    #skills h2, #skills span {
        font-size: 1.6rem !important;
    }
    .skillsarray ul {
        font-size: 14px;
        margin-top: 15px;
    }
}


@media (max-width: 992px) { /* Media query for skills */
    #skills {
        padding-top: 170px;
        padding-bottom: 0px;
    }
    #skills h2, #skills span {
        font-size: 1.5rem !important;
    }
    
    #skills .skill1, #skills .skill0, #skills-icons-sm1 {
        display: block !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 0px 20px !important;
    }

    #skills #skills-icons-sm2 img,
    #skills #skills-icons-sm1 img {
        width: 150px !important;
        height: auto;
    }
    
    #skills .skills4 {
        display: block !important;
        padding: 0px 20px !important;
        text-align: center;
    }

    .skillsarray .hidden-section1 {
        display: none;
    }

    .skillsarray ul {
        font-size: 12px;
        margin-top: 15px;
    }
    #skills .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 768px) { /* Media query for skills */
    #skills {
        padding-top: 170px;
        padding-bottom: 0px;
    }
    #skills h2, #skills span {
        font-size: 1.5rem !important;
    }
    
    #skills .skill1, #skills .skill0, #skills-icons-sm1, #skills .skill2 {
        display: block !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 0px 20px !important;
    }

    #skills #skills-icons-sm2 img {
        width: 150px !important;
        height: auto;
    }

    #skills .skills4 {
        display: block !important;
        padding: 0px 20px !important;
        text-align: center;
    }

    .skillsarray .hidden-section1 {
        display: none;
    }

    .skillsarray ul {
        font-size: 12px;
        margin-top: 15px;
    }
    #skills .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 576px) { /* Media query for skills */
    #skills {
        padding-top: 170px;
        padding-bottom: 0px;
    }
    #skills h2, #skills span {
        font-size: 1.5rem !important;
    }
    
    #skills .skill1, #skills .skill0, #skills-icons-sm1 {
        display: block !important;
        align-items: center !important;
        justify-content: center !important;
        padding: 0px 20px !important;
    }

    #skills #skills-icons-sm2 img {
        width: 150px !important;
        height: auto;
    }

    #skills .skills4 {
        display: block !important;
        padding: 0px 20px !important;
        text-align: center;
    }

    .skillsarray .hidden-section1 {
        display: none;
    }

    .skillsarray ul {
        font-size: 12px;
        margin-top: 15px;
    }
    #skills .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* ============================== career ============================== */

#career {
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #737373;
}

#career span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#career h2 {
    font-size: 2rem;
    color: #447099;
    font-weight: bold;
    letter-spacing: .1rem;
}

#career h3 {
    color: #303030;
    font-weight: 400;
    font-size: 24px;
}

#career li {
    margin-bottom: 13px;
}

#career .careerheader {
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    /* Media query for career */
    #career {
        font-size: 12px;
        padding-top: 170px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #career span {
        font-size: 14px;
    }
    
    #career h2 {
        font-size: 1.6rem;
    }
    
    #career h3 {
        color: #303030;
        font-weight: 400;
        font-size: 18px;
    }
    
    #career li {
        text-align: justify;
    }
    
    #career .row {
        margin: 10px 0px;
    }
    #career .col-3 {
        padding: 0px;
    }
    #career .container {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 992px) {
    /* Media query for career */
    #career {
        font-size: 12px;
        padding-top: 170px;
        padding-bottom: 0px;
    }
    
    #career span {
        font-size: 12px;
    }
    
    #career h2 {
        font-size: 1.5rem;
    }
    
    #career h3 {
        color: #303030;
        font-weight: 400;
        font-size: 16px;
    }
    
    #career li {
        text-align: justify;
    }
    
    #career .row {
        margin: 10px 0px;
    }
    #career .col-3 {
        padding: 0px;
    }
    #career .container {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 768px) {
    /* Media query for career */
    #career {
        font-size: 12px;
        padding-top: 170px;
        padding-bottom: 0px;
    }
    
    #career span {
        font-size: 12px;
    }
    
    #career h2 {
        font-size: 1.5rem;
    }
    
    #career h3 {
        color: #303030;
        font-weight: 400;
        font-size: 16px;
    }
    
    #career li {
        text-align: justify;
    }
    
    #career .row {
        margin: 10px 0px;
    }
    #career .col-3 {
        padding: 0px;
    }
    #career .container {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media (max-width: 576px) {
    /* Media query for career */
    #career {
        font-size: 12px;
        padding-top: 170px;
        padding-bottom: 0px;
    }
    
    #career span {
        font-size: 12px;
    }
    
    #career h2 {
        font-size: 1.5rem;
    }
    
    #career h3 {
        color: #303030;
        font-weight: 400;
        font-size: 16px;
    }
    
    #career li {
        text-align: justify;
    }
    
    #career .row {
        margin: 10px 0px;
    }
    #career .col-3 {
        padding: 0px;
    }
    #career .container {
        padding-left: 10px;
        padding-right: 0px;
    }
}

/* ============================== projects ============================== */

#projects {
    padding-top: 150px;
    padding-bottom: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#projects .container {
    width: 80%;
}

#projects h2 {
    font-size: 2rem;
    color: #303030;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.project-header {
    margin-bottom: 100px;
}

.project-header span {
    font-size: 2rem;
    color: #447099;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 120px;
}

.tech-list-B li {
    margin: 0 0 0 10px;
}

.project-content {
    margin-top: 10px;
    background-color: #447099;
}

#projects h3 {
    color: #303030;
    font-weight: 300;
    font-size: 50px;
}

#projects #nebula-des {
    position: relative;
    right: -80px; 
    z-index: 25;
}

#projects .orbit-des {
    position: relative;
    left: -80px; 
    z-index: 25;
    text-align: right;
}

#projects .row span {
    font-size: 16px;
    font-weight: 400;
    color: #737373;
}

#projects .row {
    margin-bottom: 150px;
}

.project-link {
    margin-bottom: 0;
}

.project-link li {
    margin-right: 15px;
}

.tech-list-A,
.project-link {
    list-style-type: none;
    padding: 0;
    display: inline-flex;
}

.tech-list-A {
    font-weight: 400;
    color: #737373;
    margin-top: 10px;
}

.tech-list-A li {
    margin: 0 10px 0 0;
}

.tech-list-B {
    font-weight: 400;
    color: #737373;
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
    display: inline-flex;
    justify-content: flex-end;
}

#projects p {
    font-weight: 400;
    color: #fff;
    text-align: justify;
}

@media (max-width: 1200px) and (min-width: 993px) {
    #projects .container {
        width: 100%;
    }
    .project-header span {
        font-size: 1.6rem;
    }
    #projects h2 {
        font-size: 1.6rem;
    }
    #projects .row span {
        font-size: 14px;
    }
    #projects h3 {
        font-size: 35px;
    }
    #projects .tech-list-A,
    #projects .tech-list-B {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #projects .fa-brands {
        font-size: 1.2rem;
    }
    #projects .fa-solid {
        font-size: 1.1rem;
    }
    #projects p {
        font-size: 14px;
    }
}




@media (max-width: 992px) {
    #projects h2 {
        font-size: 1.5rem;
    }
    .project-header span {
        font-size: 1.5rem;
    }
    .tech-list-B li {
        margin: 0 10px 0 0;
    }
    #projects #setB {
        flex-direction: column-reverse;
    }
    #projects #setA {
        flex-direction: column;
    }
    #projects #nebula-des {
        position: relative;
        right: 0;
        margin-top: 20px;
    }
    #projects .row span {
        font-size: 14px;
    }
    #projects .orbit-des {
        position: relative;
        left: 0;
        text-align: left;
        margin-top: 20px;
    }
    .tech-list-B {
        justify-content: flex-start;
    }
    #projects h3 {
        font-size: 30px;
    }
    #projects .tech-list-A,
    #projects .tech-list-B {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .tech-list-A li,
    .tech-list-B li {
        flex: 0 0 auto;
        margin-right: 10px;
    }
    #projects .fa-brands {
        font-size: 1.3rem;
    }
    #projects .fa-solid {
        font-size: 1.1rem;
    }
    #projects p {
        font-size: 12px;
    }
    #projects .row {
        margin-bottom: 100px;
    }
    #projects .set-B {
        margin-bottom: 100px;
    }
    #projects {
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects .container{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (max-width: 768px) {
    #projects h2 {
        font-size: 1.5rem;
    }
    .project-header span {
        font-size: 1.5rem;
    }
    .tech-list-B li {
        margin: 0 10px 0 0;
    }
    #projects #setB {
        flex-direction: column-reverse;
    }
    #projects #setA {
        flex-direction: column;
    }
    #projects #nebula-des {
        position: relative;
        right: 0;
        margin-top: 20px;
    }
    #projects .row span {
        font-size: 14px;
    }
    #projects .orbit-des {
        position: relative;
        left: 0;
        text-align: left;
        margin-top: 20px;
    }
    .tech-list-B {
        justify-content: flex-start;
    }
    #projects h3 {
        font-size: 30px;
    }
    #projects .tech-list-A,
    #projects .tech-list-B {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .tech-list-A li,
    .tech-list-B li {
        flex: 0 0 auto;
        margin-right: 10px;
    }
    #projects .fa-brands {
        font-size: 1.3rem;
    }
    #projects .fa-solid {
        font-size: 1.1rem;
    }
    #projects p {
        font-size: 12px;
    }
    #projects .row {
        margin-bottom: 100px;
    }
    #projects .set-B {
        margin-bottom: 100px;
    }
    #projects {
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects .container{
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

}

@media (max-width: 576px) {
    #projects h2 {
        font-size: 1.5rem;
    }
    .project-header span {
        font-size: 1.5rem;
    }
    .tech-list-B li {
        margin: 0 10px 0 0;
    }
    #projects #setB {
        flex-direction: column-reverse;
    }
    #projects #setA {
        flex-direction: column;
    }
    #projects #nebula-des {
        position: relative;
        right: 0;
        margin-top: 20px;
    }
    #projects .row span {
        font-size: 14px;
    }
    #projects .orbit-des {
        position: relative;
        left: 0;
        text-align: left;
        margin-top: 20px;
    }
    .tech-list-B {
        justify-content: flex-start;
    }
    #projects h3 {
        font-size: 30px;
    }
    #projects .tech-list-A,
    #projects .tech-list-B {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .tech-list-A li,
    .tech-list-B li {
        flex: 0 0 auto;
        margin-right: 10px;
    }
    #projects .fa-brands {
        font-size: 1.3rem;
    }
    #projects .fa-solid {
        font-size: 1.1rem;
    }
    #projects p {
        font-size: 12px;
    }
    #projects .row {
        margin-bottom: 100px;
    }
    #projects .set-B {
        margin-bottom: 100px;
    }
    #projects {
        padding-bottom: 100px;
    }
    #projects .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ============================== contact ============================== */

#contact h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #447099;
    font-weight: bold;
    margin-bottom: 40px;
}
 
#contact .email-me {
    width: 80%;
}

#contact {
    display: flex;
    justify-content: center;
    padding-bottom: 300px;
}

#contact p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #737373;
    line-height: 30px;
    margin-bottom: 45px;
}

#contact .btn-primary {
    background-color: transparent;
    border-color: #447099;
    color: #447099;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 4px;
    width: 200px;
    height: 55px;
}

#contact .btn-primary:hover {
    background-color: #447099;
    border-color: #22415d;
    color: #fff;
}

@media (max-width: 1200px){
    #contact h2 {
        font-size: 1.7rem;
    }
    #contact p {
        font-size: 14px;
    }
    #contact .btn-primary {
        font-size: 14px;
        width: 120px;
        height: 40px;
    }
    #contact {
        padding-bottom: 180px;
    }
    
}

@media (max-width: 992px){
    #contact h2 {
        font-size: 1.5rem;
    }
    #contact p {
        font-size: 12px;
    }
    #contact .btn-primary {
        font-size: 12px;
        width: 120px;
        height: 40px;
    }
    #contact {
        padding-bottom: 180px;
    }
    
}

@media (max-width: 768px){
    #contact h2 {
        font-size: 1.5rem;
    }
    #contact p {
        font-size: 12px;
    }
    #contact .btn-primary {
        font-size: 12px;
        width: 120px;
        height: 40px;
    }
    #contact {
        padding-bottom: 180px;
    }
    
}

@media (max-width: 576px){
    #contact h2 {
        font-size: 1.5rem;
    }
    #contact p {
        font-size: 12px;
    }
    #contact .btn-primary {
        font-size: 12px;
        width: 120px;
        height: 40px;
    }
    #contact {
        padding-bottom: 180px;
    }
    
}

/* ============================== footer ============================== */

footer {
    padding-bottom: 0px;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #737373;
    font-size: 13px;
    position: relative;
    margin-top: auto;
}