body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: Raleway, sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #ABB8A4, #C6AF8E);
  }

.profile {
    font-family: Raleway, sans-serif;
}

.maintitle {
    font-weight: 300;
    letter-spacing: 1.1rem;
    color: #447F74;
    text-align: center;
    
}

.social-icons a{
    border: 1px solid #192C19;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    color: #192C19;
}

#footer {
    font-style: italic;
    width: 100%;
    background-color: #ABB8A4;
    color: #192C19;
    text-align: center;
}

.navbarcolor {
    background-color: #192C19;
}

#projects, #aboutme h3 {
    letter-spacing: .4rem;
}

.btncolor {
    color: #fff;
    background-color: #192C19;
}

#aboutme1 p {

    font-size: 1.3rem;
    text-indent: 50px;
    line-height: 2;
}

.bgcolor1 {
    background-color: #ABB8A4;
}

.bgcolor2 {
    background-color: #192C19;
}

.textcolor3 {
    color: #000;
}

.linkcolor {
    color: #B67646;
}

.subtitle {
    letter-spacing: .8rem;
    color: #605E5E;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}

#navbarcustom a {
    font-family: Raleway, sans-serif;
    font-size: .9rem;
    margin-left: 20px;
    padding-right: 0px;
}

.name1 {
    font-size: 1.1rem; 
    letter-spacing: .1rem;
}

/* .bg1 {
    background-image: url(./plant.jpg);
} */

#landing {
	background-image: url(./plant.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no repeat;
	text-align: cover;
	min-height: 100vh;
    background-attachment: fixed;
}